#main-header{
  background: #fff;
  padding: 0;
  box-shadow: rgba(#000, 0.5) 0 5px 10px -10px;
  z-index: 2;
  position: relative;

  img.logo{
    max-width: 130px;
  }

  .ant-dropdown-link{
    padding: 0 10px;
    line-height: 30px;
    border: solid 1px $gray-300;
    height: auto;
    border-radius: 7px;
    height: 30px;
  }

  // .ant-input-group > .ant-input:first-child,
  // .ant-input-group-addon:first-child{
  //   border-top-left-radius: 7px;
  //   border-bottom-left-radius: 7px;
  // }

  // .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button{
  //   border-top-right-radius: 7px;
  //   border-bottom-right-radius: 7px;
  // }

  .ant-avatar{
    border: solid 1px $primary
  }
}

ul.notify{
  background: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 200px;
  border: solid 1px $gray-300;
  border-radius: 7px;

  li{
    list-style: none;
    padding: 15px;
  }
}